{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="../static/css/main.css">
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}

{% block title %}
    {{ title }} - NZA Law
{% endblock %}


<!-- <body> -->


    {% block content %}
        <div class="container">
        <header>
            <div class="row">
                <div class="col-md-12">
                    <a href="./index.html">
                        <img class="home-img" src="https://placehold.it/318X76" alt="placeholder image">
                    </a>
                    <ul class="nav"id="header-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="./html/about.html">who we are</a>
                        </li><span class="vert-bar">|</span>
                        <li class="nav-item">
                            <a class="nav-link" href="./html/mission.html">what we do</a>
                        </li><span class="vert-bar">|</span>
                        <li class="nav-item">
                            <a class="nav-link" href="./index.html">news & events</a>
                        </li><span class="vert-bar">|</span>
                        <li class="nav-item">
                            <a class="nav-link" href="./html/locations.html">where we work</a>
                        </li><span class="vert-bar">|</span>
                        <li class="nav-item">
                            <a class="nav-link" href="./html/contact.html">contact us</a>
                        </li>
                    </ul>

                </div>
                <!--ends header col 12-->
            </div>
            <!--ends header row-->
        </header>

        {% block app_content %}
        {% endblock %}

        <footer>
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav"id="footer-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="./html/about.html">who we are</a>
                        </li><span class="h-bar">—</span>
                        <li class="nav-item">
                            <a class="nav-link" href="./html/mission.html">what we do</a>
                        </li><span class="h-bar">—</span>
                        <li class="nav-item">
                            <a class="nav-link" href="./html/news.html">news & events</a>
                        </li><span class="h-bar">—</span>
                        <li class="nav-item">
                            <a class="nav-link" href="./html/locations.html">where we work</a>
                        </li><span class="h-bar">—</span>

                        <li class="nav-item">
                            <a class="nav-link" href="./html/contact.html">contact us</a>
                        </li>
                    </ul>
                    <p><a href="./index.html">  Website Design by OneTen Creative</a></p>
                </div>
                <!--ends footer col 12-->
            </div>
            <!--ends footer row-->
        </footer>
    </div> <!-- ends container -->
    {% endblock %}


    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html> -->
