{% extends "base.html" %}

{% block app_content %}
<main>
    <div class="row">
        <div class="col-xl-3 col-md col-sm-12">
            <aside>
                <section class="red-sidebar">
                    <h6>WHERE WE WORK</h6>
                    <p><a href="United States"></a></p>
                    <p>International
                    </p>
                    <img src="../static/images/content-navlink-career.jpg" alt="Picture of man working at computer">
                    <p>
                        <a href="#"><h6>Career Opportunities</h6></a>
                        <a href="#"><p>Join our magnificent firm</p></a>
                    </p>
                </section>
            </aside>
        </div> <!-- ends col-md-3 for sidebar -->
        <div class="col-xl-9 col-md-9 col-sm-12">
                <p id="location-description">Nielsen, Zehe, Antas attorneys practice where our clients need us. And, we are proud to say our clients have needed us everywhere – we have practiced in forty-eight states across the United States and in four different countries. Currently, we are admitted in state and federal courts across the country, either as a member of the bar of that state or via pro hoc vice admission. Please see below for more information on where the firm has practiced:</p>
            <div class="row" id="location-lists">
                <div class="col-md-8">
                    <h6>UNITED STATES</h6>
                    <div class="row">
                        <div class="col-xs-2">
                            <ul>
                                <li>Alabama</li>
                                <li>Alaska</li>
                                <li>Arizona</li>
                                <li>Arkansas</li>
                                <li>California</li>
                                <li>Colorado</li>
                                <li>Connecticut</li>
                                <li>Florida</li>
                                <li>Georgia</li>
                                <li>Hawaii</li>
                                <li>Idaho</li>
                                <li>Illinois</li>
                                <li>Indiana</li>
                                <li>Iowa</li>
                                <li>Kansas</li>
                                <li>Kentucky</li>
                                <li>Louisiana</li>
                            </ul>
                        </div> <!-- ends col-md-2 one -->
                        <div class="col-xs-2">
                            <ul>
                                <li>Maine</li>
                                <li>Maryland</li>
                                <li>Massachusetts</li>
                                <li>Michigan</li>
                                <li>Minnesota</li>
                                <li>Mississippi</li>
                                <li>Missouri</li>
                                <li>Montana</li>
                                <li>Nebraska</li>
                                <li>Nevada</li>
                                <li>New Hampshire</li>
                                <li>New Jersey</li>
                                <li>New Mexico</li>
                                <li>New York</li>
                                <li>North Carolina</li>
                                <li>North Dakota</li>
                                <li>Ohio</li>
                            </ul>
                        </div> <!-- ends col-md-2 two -->
                        <div class="col-xs-2">
                            <ul>
                                <li>Oklahoma</li>
                                <li>Oregon</li>
                                <li>Pennsylvania</li>
                                <li>South Carolina</li>
                                <li>South Dakota</li>
                                <li>Tennessee</li>
                                <li>Texas</li>
                                <li>Utah</li>
                                <li>Vermont</li>
                                <li>Virginia</li>
                                <li>Washington</li>
                                <li>West Virginia</li>
                                <li>Wyoming</li>
                            </ul>
                        </div> <!-- ends col-md-2 three -->
                    </div> <!-- ends col-md-6 -->
                </div>
                <div class="col-lg-4 col-md-3 col-xs-3">
                    <h6>INTERNATIONAL</h6>
                    <ul class="countries">
                        <li>Canada</li>
                        <li>Colombia</li>
                        <li>Germany</li>
                        <li>Nicaragua</li>
                    </ul>
                </div> <!-- ends col-md-3 for internation locations -->
            </div> <!-- ends locations lists row -->
        </div> <!-- ends col-md-9 col -->
    </div> <!-- ends main row -->
</main>
{% endblock %}
