{% extends "base.html" %}

{% block app_content %}
<main>
    <div class="row">
        <div class="col-lg-3 col-md-12">
            <aside>
                <section class="red-sidebar">
                <h6>WHAT WE DO</h6>
                    <ul>
                        <li><a href="#">Subrogation</a>
                        <ul>
                            <li>Property</li>
                            <li>Workers' Compensation</li>
                        </ul>
                        </li>
                        <li><a href="#">Litigation</a>
                            <ul>
                                <li>Appellate</li>
                                <li>Commercial</li>
                                <li>Defense</li>
                                <li>Labor/Employment</li>
                            </ul>
                        </li>
                        <li><a href="#">Business</a>
                            <ul>
                                <li>Brokerage Agreement</li>
                                <li>Business Formation</li>
                                <li>Business Related Contracts</li>
                                <li>Labor/Employment</li>
                            </ul>
                        </li>
                        <li><a href="#">Transportation</li>
                    </ul>
                    <img src="../static/images/content-navlink-attorneys.jpg" alt="Meeting room chairs">
                    <a href="#">
                        <p>Where We Work</p>
                        <p>Find out more about our work coverage area.</p>
                    </a>
                </section>
            </aside>
        </div> <!-- ends col-3 -->
        <div class="col-md-9 col-sm-12">
            <p>Who we are? That is one of the most important questions a prospective client can ask us. Our answer – one of the most respected law firms in the country that cares about your case, your business, and solving your problem. We invite you to get to know our attorneys better and understand the depth of experience and talent we have in the links below.</p>

            <img class=".about-img" src="../static/images/sub-02-subrogation.jpg" alt="Firefighter">
            <img class=".about-img" src="../static/images/sub-02-litigation.jpg" alt="People sitting at table working on documents">
            <img class=".about-img" src="../static/images/sub-02-business.jpg" alt="signing papers">
            <img class=".about-img" src="../static/images/sub-02-warehouse.jpg" alt="semi-truck on highway">
        </div>
    </div>
</main>
{% endblock %}
